      <div id="page-top">
        <%= render 'header' %>
        <%= render 'about' %>
        <%= render 'portfolio' %>
        <%= render 'contact' %>
        <%= render 'footer' %>

        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
        </div>
      
      </div>
